<html ⚡4email>
	<head>
	<meta charset="utf-8">
	<style amp4email-boilerplate>body{visibility:hidden}</style>
	<script async src="https://cdn.ampproject.org/v0.js"></script>
	<script async custom-element="amp-anim" src="https://cdn.ampproject.org/v0/amp-anim-0.1.js"></script>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

		body{
			background-color: #fff;
			max-width: 800px;
			width: 90%;
			padding: 40px;
			font-family: "Roboto",sans-serif;
		}

		section{
			background-color: #303f9f;
			color: #fff;
			padding: 30px;
		}

		p{
			font-size: 18px;
		}

		/* a {
			color: #fff !important;;
		} */

		a:hover{
			color: #009688 !important;
		}

		.text-center{
			text-align: center;
		}
	</style>
	</head>
	<body>
		<table cellpadding="0" cellspacing="0" style="background-color:#e4ebf1;min-width:413px;min-width:320px" width="100%">
			<tbody style="display: table-row-group;vertical-align: middle;">
				<tr>
					<td valign="top">
						<table cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td height="150" style="background-color: #303f9f;height: 150px;" >

									</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td style="width: 600px;">
						<table align="center" cellpadding="0" cellspacing="0" style="width:100%;max-width:600px;margin:0 auto" width="600">
							<tbody>
								<tr>
									<td align="center" bgcolor="#303f9f" style="font-family:Helvetica,Arial,Helvetica,sans-serif;color:#111111;font-size:14px;line-height:18px;padding:20px 15px 24px">
									</td>
								</tr>
								<tr>
									<td bgcolor="#0071ba" style="font-family:Helvetica,Arial,Helvetica,sans-serif;color:#111111;font-size:14px;line-height:18px;border-radius:0 0 10px 10px">
										<table cellpadding="0" cellspacing="0" width="100%"> 
											<tbody>
												<tr>
													<td bgcolor="#ffffff" style="font-family:Helvetica,Arial,Helvetica,sans-serif;color:#111111;font-size:14px;line-height:18px;border-radius:6px">
														<table cellpadding="0" cellspacing="0" width="100%"> 
															<tbody>
																<tr>
																	<td style="font-family:Helvetica,Arial,Helvetica,sans-serif;color:#111111;font-size:14px;line-height:18px;padding-left:15px;padding-right:15px;padding-top:25px;padding:36px 40px 18px">
																		<table cellpadding="0" cellspacing="0" width="100%"> 
																			<tbody>
																				<tr>
																					<td align="center" style="font-family:Helvetica,Arial,Helvetica,sans-serif;color:#111111;font-size:14px;line-height:18px;padding:0 0 8px;font:500 24px/22px Arial,Helvetica,sans-serif,Fira;color:#0e2f5a">
																						<b> ¡Thanks for writing! </b>
																					</td>
																				</tr>
																				<tr>
																					<td align="center" style="font-family:Helvetica,Arial,Helvetica,sans-serif;color:#111111;font-size:14px;line-height:18px;padding:0 0 14px;font:600 14px/18px Arial,Helvetica,sans-serif,Fira;color:#0066b8;border-bottom:1px solid #c7cfd9">
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</td>
																</tr>
																<tr>
																	<td align="center" style="font-family:Helvetica,Arial,Helvetica,sans-serif;color:#111111;font-size:14px;line-height:18px;padding-left:0;padding-right:0;padding:20px 40px 0px;font:500 18px/24px Arial,Helvetica,sans-serif,Fira">
																		<img alt="Welcome to Cloudinary" src="https://res.cloudinary.com/dob2hrxjo/image/upload/v1617155225/Assets/charmadel_zfbz0r.gif" width="300" class="CToWUd a6T" tabindex="0">
																			<div class="a6S" dir="ltr" style="opacity: 0.01; left: 577px; top: 349px;">
																				<div id=":97" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Descargar el archivo adjunto " data-tooltip-class="a1V" data-tooltip="Descargar">
																					<div class="akn">
																						<div class="aSK J-J5-Ji aYr">
																						</div>
																					</div>
																				</div>
																			</div>
																		<br>
																		<br>
																		<b>Hello {{ name }} !!!</b>
																		<br>
																		<br>
																		It is a pleasure to serve you, I will contact you shortly.
																		<br>
																		<!-- Just click the button below to validate your email address. -->
																		<table align="center" cellpadding="0" cellspacing="0" style="margin:0 auto;padding:20px">
																			<tbody>
																				<tr>
																					<td align="center" bgcolor="#303f9f" style="font-family:Helvetica,Arial,Helvetica,sans-serif;color:#111111;font-size:14px;line-height:18px;font:500 32px/18px Arial,Helvetica,sans-serif,Fira;letter-spacing:.4px;border-radius:2px">
																						<a class="button_page" href="https://erickalvaportfolio.herokuapp.com" style="font-family:Helvetica,Arial,Helvetica,sans-serif;font-size:14px;line-height:18px;font-weight:bold;color:#303f9f;padding:20px;color:#fff;text-decoration:none;display:block" target="_blank" data-saferedirecturl="#">
																							Visit my page
																						</a>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																		<br>
																		<div style="font-size:12px;font-weight:normal">
																			<p style="padding: 0px;margin: 0px;"><b>Take a look at me CV!!!</b></p>
																			<a href="https://datainfo.s3-us-west-1.amazonaws.com/CV_ErickAlva.pdf"><b>Click Here !!!</b></a>
																		</div>
																		<br>
																		<div class="text-center">
																			<img src="https://res.cloudinary.com/dob2hrxjo/image/upload/v1617300995/Assets/codeThanksEn_e7sb2d.png" width="600" alt="code" />
																		</div>
																		<br>
																		<div style="font-size:14px;font-weight:normal">
																			This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.
																			<br>
																			<br>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td style="font-family:Helvetica,Arial,Helvetica,sans-serif;color:#111111;font-size:14px;line-height:18px;padding:32px 40px">
										<table cellpadding="0" cellspacing="0" width="100%">
											<tbody>
												<tr>
													
												</tr>
												<tr>
													<td align="center" style="font-family:Helvetica,Arial,Helvetica,sans-serif;color:#111111;font-size:14px;line-height:18px;padding:0 0 10px;font:500 12px/17px Arial,Helvetica,sans-serif,Fira;color:#a7afb3">
														By Erick Alberto Alva Vázquez - 2021 
													</td>
												</tr>
												<tr>
													
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
					<td valign="top">
						<table cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td height="150" style="background-color:#303f9f;height: 150px;" >

									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- <main>
			<section>
				<h1 class="text-center">¡Gracias por escribir! </h1>
				<p class="text-center">Es un placer atenderle, en breve me pondre en contacto. </p>

				<div class="text-center">
					
						<img src="https://res.cloudinary.com/dob2hrxjo/image/upload/v1617155232/Assets/codeThanks_vd2nib.png" alt="code" />
					
				</div>
				<br>
				<p class="text-center">
					<a href="#">
						Echa un vistazo a mi CV!!!
					</a>
				</p>
				<p class="text-center">
					<a href="#">
						Visita mi página
					</a>
				</p>
				<br />
				<p style="text-align: center; font-size: 14px;">
					 By Erick Alberto Alva Vazquez - 2021 
					<br />
					<br />
					Este correo fue enviado desde una dirección solamente de notificaciones que no puede aceptar correo electrónico entrante. Por favor no responda a este mensaje.
				</p>
			</section>
		</main> -->
	</body>
</html>