<!DOCTYPE html>
<html lang="es-MX">
	{{> head }}
	<body>	
		<section class="container section-first">
			<div class="row">
				<div class="col-12">
					<h1>404 | Not Found</h1>
					<a href="/">Go to home</a>
				</div>
			</div>
		</section>
		<!-- Footer -->
			{{> footer }}

		<!-- Scripts -->
			{{> scripts }}
	</body>
</html>