<!DOCTYPE html>
<html lang="es-MX">
	{{> head }}
	<body class="animate__animated animate__fadeIn animate__slower">
		<!-- Header -->
			{{> header }}

		<!-- Nav -->
			{{> navbar }}
			
		<!-- Content -->
			{{> (whichPartial) }}

		<div id="root"></div>
		
		<!-- Footer -->
			{{> footer }}

		<!-- Scripts -->
			{{> scripts }}
	</body>
</html>