<header id="hero">
	<div class="hero contain">
		<div id="temporal-background">
			<h1> Hello, <span></span></h1>
			<h1> My name is <span></span></h1>
			<h1> Erick <span></span></h1>
			<a href="#" type="button" class="cta">Portfolio</a>
		</div>
	</div>
</header>