@media #{$desktop-large},
#{$desktop},
#{$tablet},
#{$phone} {
	:root {
		--primary-color: #009688;
		--secondary-black: #0d081a;
		--secondary-gray: #48464b;
		--body-bg: #efebfa;
	}

	#footer{
		background-color: #303F9F;
		color: white;
		padding: 5rem 0 1rem 0;
		footer {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 10rem;
			ul{
				list-style: none;
				padding-left: 0px;
				margin-left: 0px !important;
				li{
					border-radius: 4px;
					a{
						display: inline-block;
						width: 100%;
						color: white;
						font-size: 1rem;
						padding: .5rem;
						text-decoration: none;
					}
					&:hover{
						background-color: white;
					}
					&:hover a{
						color: var(--primary-color);
					}
				}
			}
			.column-heading{
				font-family: 'Montserrat', sans-serif;
				font-size: 1.5rem;
				margin-bottom: 2rem;
				text-transform: uppercase;
				line-height: 1.5em;
			}
			.con-1{
				flex: 4;
				.logo{
					img{
						max-width: 100px;
						margin-bottom: 2rem;
					}
					p{
						color: white;

					}
				}
				p{
					text-align: justify;
				}
			}
			.con-2 {
				flex: 3;
			}
			.con-3 {
				flex: 3;
			}
			.con-4{
				flex: 3;
				ul{
					display: flex;
					flex-wrap: wrap;
					a{
						min-width: 50px;
						text-align: center;
					}
				}
			}
		}
	}	

	#copyright{
		padding: .3rem 0;
		background-color: #3F51B5;
		p{
			color:white;
			margin: 0px;
		}
	}
}

@media #{$tablet},
#{$phone}{

	#footer{
		footer{
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			gap: 2rem;
			.con-1{
				width: 100%;
				margin-bottom: 3rem;
				p{
					text-align: center;
				}
			}
			.con-2{
				width: 100%;
				margin-bottom: 3rem;
			}
			.con-3{
				width: 100%;
				margin-bottom: 3rem;
			}
			.con-4{
				width: 100%;
				margin-bottom: 3rem;
				ul{
					display: flex;
					justify-content: center;
				}
			}
		}
	}
	#copyright{
		p{
			text-align: center;
		}
	}
}