@media #{$desktop-large},
#{$desktop},
#{$tablet},
#{$phone} {
	
	:root {
		--primary-color: #5924ed;
		--secondary-black: #0d081a;
		--secondary-gray: #48464b;
		--body-bg: #efebfa;
	}

	main {

		background-color: var(--primary-color);
		max-width: 800px;
		width: 90%;
		margin: auto;
		padding: 40px;
		font-family: 'Montserrat', sans-serif;
		border-radius: 18px;
	}
}