$text-color: #333;
$brand-primary: #000000;

$gray-base: #000;
$gray-darker: lighten( $gray-base, 13.5% );
$gray-dark: lighten( $gray-base, 20% );
$gray: lighten( $gray-base, 33.5% );
$gray-light: lighten( $gray-base, 46.7% );
$gray-lighter: lighten( $gray-base, 93.5% );

$font-family-base: 'Open Sans', sans-serif;
$font-slim: 300;
$font-normal: 400;
$font-fat: 700;

$images: '../img';
$fonts: '../fonts';

$phone: 'only screen and ( max-width: 767px )';
$tablet: 'only screen and ( min-width: 768px ) and ( max-width: 991px )';
$desktop: 'only screen and ( min-width: 992px ) and ( max-width: 1199px )';
$desktop-large: 'only screen and ( min-width: 1200px )';
$desktop-x-large: 'only screen and ( min-width: 1400px )';
$desktop-2x-large: 'only screen and ( min-width: 1600px )';
$desktop-3x-large: 'only screen and ( min-width: 1900px )';